mat-card{
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
}

table{
  width: 70vh;
}

img{
  width: 100%;
}

.nav-buttons{
  top: 20px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

body{
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgba(253, 239, 239, 0.822);
}

.btn-nav{
  margin-left: 5px;
  margin-right: 5px;
}
